*{
    font-family: 'Press Start 2P', cursive;
}

body {
  background-image: url("/images/8-bit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.title{
    font-family: 'Press Start 2P', cursive;
    color: red;
    text-align: center;
    padding-top: 6%;
}

.intro-head{
    text-align: center;
}

.intro-jumbo{
    justify-content: center;
    text-align: center;
}

.answer-div{
    // color: red;
    // text-align: center;
    width: 50%;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');