*{
    font-family: 'Press Start 2P', cursive;
}

body {
  background-image: url("https://media.istockphoto.com/vectors/interface-8-bit-game-appearance-of-level-in-dark-dungeon-vector-id1068251346?k=6&m=1068251346&s=170667a&w=0&h=7X5UE4MqM0_kJmNobbg0osGUtBEMmJXkUnpsC5_w-Yw=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.title{
    font-family: 'Press Start 2P', cursive;
    color: red;
    text-align: center;
    padding-top: 6%;
}

.intro-head{
    text-align: center;
}


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');